body {
    background-image: linear-gradient(to top, #daf1ff, #85d6ff);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    height: 150vh;
    overflow-x: hidden;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;
    background-color: #f4f8ff;
    /* Light blue header background */
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 80px;
    color: #2c3e50;
    letter-spacing: 1px;
}

.main-title .gallery-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search-form .search-input {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 10px;
    border: 2px solid #2c3e50;
    border-radius: 4px 0 0 4px;
    background-color: rgba(255, 255, 255, 0.4);
    outline: none;
}

.search-form .search-button {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    font-size: 24px;
    border: 2px solid #2c3e50;
    background-color: #2c3e50;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
}

.main-title .gallery-menu button.category {
    padding: 15px 30px 15px 30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);

    transition: all .3s ease;
}

.main-title .gallery-menu button.category:hover {
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, 1);
    color: black;
}

/* Triggers exactly when the button is clicked */
.main-title .gallery-menu button.category:active {
    /* Shrinks the button slightly */
    background-color: black;
    /* Adds a very light grey background */
    border-color: black;
    color: white;
}

.main-title svg {
    padding-bottom: 15px;
}

.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sub-title h1 {
    padding-top: 20px;
    font-weight: lighter;
    font-size: 20px;
}

main.main-gallery {
    width: 100vw;
    height: 100vh;
}

main.main-gallery .gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 24px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;

    position: relative;
    overflow: hidden;
}

main.main-gallery .gallery-container .gallery-block {
    width: 400px;
    height: 250px;

    border-radius: 10px;
    border: 5px solid #2c3e50;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    transition: all .3s ease;
}

main.main-gallery .gallery-container .gallery-block:hover {
    width: 405px;
    height: 255px;

    transform: translateY(-10px);
}


.gallery-block img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}


.gallery-block .gallery-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: #2c3e50;
    font-size: 25px;

    background-color: white;
    width: 100%;
    height: 25%;
}

.gallery-card-title .left {
    height: 2px;
    background-color: #2c3e50;
    padding-left: 30px;
    padding-right: 30px;

    margin-right: 10px;
}

.gallery-card-title .right {
    height: 2px;
    background-color: #2c3e50;
    padding-left: 30px;
    padding-right: 30px;

    margin-left: 10px;
}

main.main-gallery .gallery-container .gallery-block h2 {
    text-align: center;
    padding: 10px;
    font-weight: lighter;
    background-color: white;
}